* {
	margin: 0pt;
	padding: 0pt;
	font-family: "Helvetica Neue", sans-serif;
}

.header {
	position: fixed;
	width: 100%;
	max-width: 100%;
	height: 10%;
	min-height: 10%;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-left: 18%;
	left: 0;
	top: 0;
	background-color: #fff;
}	

a {
	color: #333;
}

.links-container {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	float: right;
	padding-top: 5%;
	height: 100pt;
	min-height: 100pt;
}

#links {	
	position: relative;
	vertical-align: middle;
	width: 100pt;
	font-size: 24pt;
	height: 100pt;
	text-align: center;
}

.content {
	width: 80%;
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
	margin-bottom: 0;
	padding: 0;
	color: #111111;
	font-size: 16pt;
}

.footer {
	height: 30%;
	min-height: 30%;
}

h1 {
	text-align: center;
	padding: 0 0 15% 0;
	font-size: 40pt;
}

h2 {
	text-align: center;
	padding: 10% 10% 5% 10%;
	font-size: 32pt;
}

h3 {
	padding: 5% 10% 5% 10%;
	font-size: 24pt;
}

p {
	padding: 10pt 10% 10pt 10%;
}

ul, ol {	
	padding: 10pt 10% 10pt 10%;
	font-size: 14pt;
	border-left: 5pt solid #444;
}

li {
	padding: 5pt 0 5pt 0;
}

img:not(#icon):not(#home) {
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	margin-bottom:
}

#icon {
	position: relative;
	display: inline;
	float: center;
	vertical-align: middle;
	margin-top: 3%;
	margin-right: 5pt;
	height: 30%;
}

#home {
	position: relative;
	display: inline;
	float: center;
	vertical-align: middle;
	margin-top: 3%;
	margin-right: 10pt;
	padding-right: 10pt;
	border-right: 4pt solid #555;
	height: 30%;
}

blockquote>p>a {
	font-style: italic;
	font-size: 14pt;
	padding: 10pt 0 25pt 0;
	vertical-align: middle;
	text-align: center;
}

blockquote>p {
	font-style: italic;
	font-size: 14pt;
	padding: 10pt 0 10pt 0;
	vertical-align: middle;
	text-align: center;
}
